<p id="notice"><%= notice %></p>

<div  style="padding-top: 50px"></div>

<% if request.original_url.split('=').last.include? '/' %>
  <h1 style="padding-bottom: 25px">All Articles</h1>
<% else %>
  <h1 style="padding-bottom: 25px">All <%= request.original_url.split('=').last %> Articles</h1>
<% end %>

  <% @articles.each do |article| %>
  <h4><%=  link_to article.title, article %></h4>
  <p><%= truncate(article.body, length: 200) %></p>
<% end %>